body {
    background-color: azure;
}

container {
    display: flex;
}

table {
    border-collapse: collapse;
}

th {
    color: white;
    background-color: red;
    padding: 2px 10px;
}

td {
    border: none;
    padding: 2px 10px;
}

.red {
    color: red;
}

.right {
    text-align: right;
}